# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_SAMK75

config ZMK_KEYBOARD_NAME
    default "SamK 75"

config I2C
    default y

config LED
    default y

config IS31FL3731
    default y

endif
